<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/category/business/page/1">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/sports/page/1">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/politics/page/1">Politics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/science/page/1">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/technology/page/1">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/entertainment/page/1">Entertainment</a>
        </li> -->
      </ul>
    </div>
    <div class="row text-center justify-content-center">
      <p>Powered by <a href="https://allsportsapi.com/">All Sports API</a>.</p>
    </div>
  </div>
</footer>
<!-- Footer -->