<script>
  $(document).ready(function()
  {
    var today = moment().format('YYYY-MM-DD');

    $('#fixtures[href]').each(function()
    {
      this.href += '/' + today;
    })
  });
</script>

<!-- Navbar -->
<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Live Scores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Football
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/football/live">Live Scores</a>
            <a class="dropdown-item" href="/football/leagues">Leagues</a>
            <a id="fixtures" class="dropdown-item" href="/football/fixtures">Fixtures</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cricket
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cricket/live">Live Scores</a>
            <a class="dropdown-item" href="/cricket/leagues">Leagues</a>
            <a id="fixtures" class="dropdown-item" href="/cricket/fixtures">Fixtures</a>
          </div>
        </li>
      </ul>
      <form action="/search" method="POST">
        <div class="input-group">
          <input type="text" id="search" name="search" placeholder="Search" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar -->